.music-player {
  position: fixed;
  bottom: 2px;
  left: 35%;
  transform: translateX(-50%);
  z-index: 1000;
  display: flex;
  gap: 100px;
}

button {
  padding: 8px 30px;
  background-color: #8E1616;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #751111;
}
