/* Custom navbar styling */
.navbar {
    position: fixed;
    top: 0;
    width: calc(100% - 27rem);
    height: 60px;
    background-color: #8E1616;
    z-index: 1050;
  }
  
  .navbar-container {
    height: 100%;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .navbar-nav {
    list-style-type: none; /* Remove bullet points */
    padding-left: 30px; /* Add padding on the left side */
    padding-right: 30px; /* Add padding on the right side */
    margin-bottom: 0; /* Remove bottom margin */
    display: flex; /* Align items in a row */
    justify-content: space-between; /* Evenly space the items */
    width: 100%; /* Ensure full width for flexbox */
    align-items: center; /* Vertically center the items */
    box-sizing: border-box; /* Include padding inside the height */
  }
  

  .navbar-toggler {
    display: none;
    padding: 8px;
    background: transparent;
    border: none;
    cursor: pointer;
  }
  
  .navbar-toggler-icon {
    display: block;
    width: 24px;
    height: 24px;
    background-color: white;
  }
  
  
  .nav-link {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.125rem;
    font-weight: 500;
    transition: color 0.2s ease;
  }
  
  .nav-link:hover {
    color: black;
  }
  
  @media (max-width: 768px) {
    .navbar-toggler {
      display: block;
    }
  
    .navbar-nav {
      display: none;
    }
  
    .navbar-collapse.show .navbar-nav {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 60px;
      right: 0;
      background-color: #8E1616;
      width: 100%;
      padding: 16px;
    }
  }