* {
    margin: 0;
    padding: 0;
    
  }
  
  body {
    margin: 0;
    padding: 0;
    background-color: #101010;
    font-family: 'Roboto Mono', monospace;
  }
  
  /* Base app container */
  .app-container {
  
    background-color: #101010;
    position: relative;
  }
  
 