body, html {
  margin: 0;
  padding: 0;
  background-color: #101010;
  color: white;
  font-family: 'Roboto Mono', monospace;
}

#root {
  min-height: 100vh;
}

/* Main content adjustments */
.main-content {
  padding-top: 0; /* Remove top padding since the children will handle it */
  padding-bottom: 100px; /* Space for the music player */
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 60px); /* Subtract navbar height */
}

/* Page container styles */
.home-container,
.search-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  color: white;
}

/* Adjust the song list positioning */
.song-list {
  padding: 20px;
}

/* Different song list positioning for profile page */
.profile-page-active .song-list {
  width: calc(100% - 24rem);
  position: absolute;
  top: 80px;
  right: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Responsiveness */
@media (max-width: 992px) {
  .profile-page-active .song-list {
    position: static;
    width: 100%;
    margin-top: 20px;
  }
}