.reset-container{
    border: 6px solid white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #8E1616;
    width:30%;
    margin: 2vh auto;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap:25px 0px;
    min-width: 400px;
    padding: 20px;
}
.reset-input{
    height: 35px;
    width: 80%;
    margin: 2px auto;
    font-size: medium;
    transition: border-radius 0.35s ease;
    
}
.reset-input:focus,.reset-input:hover{
    outline: none;
    border: 4px solid white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}
h1{
    text-align: center;
    margin: 2% auto;
    width: 50%;
}

.reset-btn{
    width: 50%;
    height: 60px;
    margin: 20px auto;
    color: white;
    font-family: 'Roboto Mono', monospace;
    border: 4px solid white;
    background-color: #101010;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    transition: transform 0.3s ease;
    font-size: large;
}

.reset-btn:hover{
    transform: scale(1.1);
    cursor: pointer;
}
