:root{
    --background: #1D1616;
    --brick: #960c22;
    --slate:#54585a;
}

.song-list{
    width:60%;
    margin: 0px auto;
}
.song-post-wrapper{
    border-radius: 20px;
    width: 70%;
    padding:15px;
    height: 150px;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--brick);
    margin: 5px auto;
    min-width: 380px;
}
.interactables{
    width: 10%;
    height: 75%;
    margin: auto 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
   
}
.other-btns{
    display: flex;
    gap: 0px 5px;
}

.info{
    width:40%;
    height: 90%;
    color:white;
}
.info-item{
    margin: 5px 0px;
    text-align: center;
}

.flags{
    display: flex;
    margin: 5% auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width:80%;
}
.flag{
    background-color: var(--slate);
    padding: 1% 3%;
    border-radius: 7px;
}


.song-icon{
    width:35%;
    margin-left: 25px;
    aspect-ratio: 9/10;
    position: relative;
}

span{
    cursor: pointer;
}

.play-btn{
    cursor: pointer;
}

